/* universal styles*/
*{
    padding:0;
    margin:0;
    font-family: 'Roboto',sans-serif;
}

/* header */
header {
 background-image: url(./images/display.jpg);
background-size:cover;
background-position:right;
height:2px;
width:50%;
position:relative;

}
header {
    background-image: url(./images/image3.jpg);
   background-size:cover;
   background-position:right;
   height:2px;
   width:50%;
   position:relative;
}
header {
    background-image: url(./images/image4.jpg);
   background-size:cover;
   background-position:right;
   height:2px;
   width:50%;
   position:relative;
   
}
.child1,.child2{
  display: inline;
}
.parent{
  display: flex;
  justify-content: space-between;
  gap: 2px;
}


.card{
  padding:10px;
  background-image:url(./images/image5.jpg);
  background-size:cover;
  width:800;

}

.container {
    position: relative;
}
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
footer{
    display:flex;
    justify-content: space-around;
    color:rgb(70, 23, 23);
    padding:30px 10px;
  }
  